.countdown
{
  font-family: 'Racing Sans One', cursive;
  color: white;
}

.cd-cyan-font
{
  color:#0aa9cf;
  font-family: 'Racing Sans One', cursive;
}

.countdown-divs
{
  text-align: center;
  float: left;
}
