<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Hakkımızda</a></li>
            <li><a href="{{ site.baseurl }}/iletisim">Bize Ulaşın</a></li>
            
            <li><a href="{{ site.baseurl }}/iletisim">Ulaşım</a></li>
            
          </ul>
        </div>
        <p>RaConf'16 bir <a href="http://sausiber.org">SaüSiber</a> etkinliğidir.</p>
      </div>
    </div>
  </div>
</footer>
